body{
    background-color: aquamarine;
}

div h1{
    width: 200px;
    height: 110px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    text-align: center;
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: #F5A88E;
}

#poster2{
    background-color: #B91900;
}

#poster3{
    background-color: #DBB69C;
}