/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 0px;
    height: 0px;
    background-color: chocolate;
}

#onderkant{
    width: 0px;
    height: 0px;
    background-color: chocolate;
}

