
.container{
    display: flex;
    
}

.col{
    margin: 2px;
}

.button{
    width: 300px;
    height: 200px;
    background-color: red;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button span{
    
    font-size: 2em;
    font-family: consolas;
}